.info-home{
    overflow: hidden;
}
.info{
    top: 120%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 2, 3, 0.5);
    transition: top 0.5s;
}
.info b{
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
}
.info p{
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
}
.info-home:hover .info{
    top: 0%;
}