<div *ngIf="!isLoading"> <app-loader> </app-loader></div>
<div class="row gy-3" id="ingredient">
    <div class="col-md-3" *ngFor="let ingredient of ingredients" (click)="getingredients(ingredient.
    strIngredient
    )"  >
    <div class="text-center">
        <i class="  	fas fa-drumstick-bite fa-4x pb-3 fs-3 fw-bold"></i>
        <h6>{{ingredient.strIngredient}}</h6>
        <p>{{ingredient.strDescription.slice(0,100)}}</p>
    </div>
    </div>

</div>
<div class="row d-none g-2" id="ingredients">
    <div class="col-md-3"  *ngFor="let ingredient of ingredient" [routerLink]="['/MealDetails',ingredient.idMeal]">

        <div class="position-relative info-home">
            <img  [src]="ingredient.strMealThumb  " class="w-100">
            <div class="info position-absolute text-center text-white ">
                <b class="position-absolute text-center pb-2 ">{{ingredient.strMeal}}</b>
            </div>
        </div>
        </div>
</div>
