<div class="py-5 pb-5 ">
    <h1 class="text-center ">login </h1>
    
        <div class="row gy-2 py-5">
            <div class="col-md-8 m-auto">
                <form (ngSubmit)="Login(user)" [formGroup]="user">
                    <div *ngIf="apiError" class="alert alert-danger col-md-12">{{apiError}}</div>
                    <div class="row py-5">
                        <div class="col-md-11">
                            <label class="form-label" for="email"> Email</label>
                            <input type="email" class="form-control" formControlName="email" id="email"placeholder="Enter you email">
                            <div *ngIf="user.get('email')?.errors&& user.get('email')?.touched">
                                <p *ngIf="user.get('email')?.getError('required')" class="text-danger">Email is required</p>
                                <p *ngIf="user.get('email')?.getError('email')" class="text-danger">Enter a vaild Email</p>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <label class="form-label" for="password"> password</label>
                            <input type="password" class="form-control" formControlName="password" id="password"placeholder="Enter you password">
                            <div *ngIf="user.get('password')?.errors&& user.get('password')?.touched">
                                <p *ngIf="user.get('password')?.getError('required')" class="text-danger">password is required</p>
                                <p *ngIf="user.get('password')?.getError('pattern')" class="text-danger">Enter password,for example<sub>Sa12356</sub> </p>
                            </div>
                        </div>
                        
            <div class="col-md-11 pt-3  text-end">
                <button type="submit" [disabled]="user.invalid"  class="btn border-none border-0 text-light bg-main ">login
                    <span *ngIf="isLoad"><i class='fa-solid text-light m-2  fa-spinner fa-spin'></i></span> </button> 
                
                    </div>
                    </div>
                </form>
                
            </div>

        </div>
    
</div>
